html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background-color: #151515;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

/* ===== NAVBAR ===== */
.navbar {
  padding: 24px 40px;
  gap: 20px;
}

.navbar-brand {
  font-size: 18px;
  margin-right: 180px;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.nav--search {
  display: flex;
  align-items: center;
  background-color: #ffffff29;
  border-radius: 50px;
  padding: 10px 15px;
  flex: 1;
}

.nav--searchIcon {
  margin-right: 15px;
}

.nav--searchBar {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  flex: 1;
}

.nav--searchBar:focus {
  outline: none;
}

#basic-navbar-nav {
  gap: 30px;
}

#basic-navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

#basic-navbar-nav .nav-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

/* ===== SIDEBAR ===== */
.sidebar,
.sidebar--offcanvas {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  width: auto;
}

.sidebar--nav > * {
  padding: 10px 0;
}

.sidebar--offcanvas {
  background-color: #151515;
}

/* ===== CARD ===== */
.card {
  background-color: #202020;
}

.card-title {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card--btn {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: #ffffff1a;
  border: none;
  font-size: 12px;
}
