html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background-color: #151515;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #737373;
}

/* ===== NAVBAR ===== */
.navbar {
  padding: 24px 40px;
  gap: 20px;
}

.navbar-brand {
  font-size: 18px;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.nav--search {
  display: flex;
  align-items: center;
  background-color: #ffffff29;
  border-radius: 50px;
  padding: 15px 20px;
  flex: 1;
}

.nav--searchIcon {
  margin-right: 15px;
}

.nav--searchBar {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  flex: 1;
}

.nav--searchBar:focus {
  outline: none;
}

#basic-navbar-nav {
  gap: 30px;
}

#basic-navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

#basic-navbar-nav .nav-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

/* ===== SIDEBAR ===== */
.sidebar,
.offcanvas {
  font-size: 24px;
  font-weight: bold;
  padding: 40px 10px 0;
  width: auto;
}

.offcanvas {
  background-color: #151515;
}

.offcanvas-nav {
  padding: 10px 20px;
}

.sidebar--nav > * {
  padding: 10px 0;
}

.navbar.fixed-bottom {
  background-color: #151515;
}

/* ===== CARD ===== */
.card--col {
  position: relative;
  padding: 10px;
}

.card {
  background-color: #202020;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  position: absolute;
  width: calc(100% - 20px);
  transform: scale(1.01);
  z-index: 1;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 50vw;
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title a {
  cursor: pointer;
}

.card:hover .card-title {
  white-space: normal;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--platforms > span {
  margin-right: 6px;
}

.card--metacritic {
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
  padding: 0px 7px;
}

.card--btn {
  display: none;
  align-items: center;
  background-color: #ffffff1a;
  border: none;
  font-size: 12px;
  transition: 0.1s;
}

.btn--add {
  display: flex;
}

.card:hover .card--btn {
  display: flex;
}

.card--btn:hover,
.card--btn:focus {
  background-color: #ffffff;
  color: #151515;
}

.card--btn-section {
  display: flex;
  gap: 5px;
}

.card--side-info {
  display: none;
  padding-top: 5px;
}

.card:hover .card--side-info {
  display: block;
}

.card--side-info > * {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
  margin: 0;
  padding: 12px 0;
}

.card--side-info > *:last-child {
  border: none;
  padding-bottom: 0;
}

.card--info-name {
  opacity: 0.4;
}

/* ===== FORM ===== */
.form-select {
  display: inline-block;
  background-color: #262626;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 10px;
  width: auto;
}
