html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #aaaaaa;
  background-color: #2a2e33;
  font-family: "Roboto", sans-serif;
}
