html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background-color: #151515;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

/* ===== NAVBAR ===== */
.navbar {
  padding: 24px 40px;
  gap: 20px;
}

.navbar-brand {
  font-size: 18px;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.nav--search {
  display: flex;
  align-items: center;
  background-color: #ffffff29;
  border-radius: 50px;
  padding: 15px 20px;
  flex: 1;
}

.nav--searchIcon {
  margin-right: 15px;
}

.nav--searchBar {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  flex: 1;
}

.nav--searchBar:focus {
  outline: none;
}

/* ===== SIDEBAR ===== */
.sidebar,
.offcanvas {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  width: auto;
}

.sidebar {
  position: sticky;
  top: 0;
}

.offcanvas {
  background-color: #151515;
}

.sidebar--nav > * {
  padding: 10px 0;
}

.sidebar--nav a:hover {
  color: #737373;
}

.navbar.fixed-bottom {
  background-color: #151515;
}

/* ===== CARD ===== */
.card--col {
  position: relative;
  padding: 10px;
}

.card {
  background-color: #202020;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  position: absolute;
  width: calc(100% - 20px);
  transform: scale(1.01);
  z-index: 1;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 50vw;
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title a {
  cursor: pointer;
}

.card:hover .card-title {
  white-space: normal;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--platforms > span {
  margin-right: 6px;
}

.card--metacritic {
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
  padding: 0px 7px;
}

.card--side-info {
  display: none;
  padding-top: 5px;
}

.card:hover .card--side-info {
  display: block;
}

.card--side-info > * {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
  margin: 0;
  padding: 12px 0;
}

.card--side-info > *:last-child {
  border: none;
  padding-bottom: 0;
}

.card--info-name {
  opacity: 0.4;
}

/* ===== FORM ===== */
.form--section {
  display: flex;
  gap: 50px;
}

.form--group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form--group > * {
  margin: 0;
}

.form--select {
  background-color: #262626;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  width: auto;
}

/* ===== PAGINATION ===== */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 150px 0 100px;
}

/* ===== GAME DETAIL ===== */
.detail--badge {
  border-radius: 50%;
  width: 10px;
  height: 15px;
}

.detail--date-platform {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.detail--date {
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 0 5px;
}

.detail--platform {
  display: flex;
  gap: 10px;
}

.detail--score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.detail--score {
  display: flex;
  align-items: center;
  gap: 20px;
}

.detail--overall-rating {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.detail--graph-description {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.detail--graph-description > * {
  flex-basis: 50%;
  margin: 10px 0;
}

.detail--badge-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail--badge-rating {
  opacity: 0.4;
}

.detail--description-container {
  margin-top: 50px;
}

.detail--description {
  font-size: 1.1rem;
  white-space: pre-line;
}

.detail--specs-container > * {
  margin: 10px 0;
  padding-right: 10%;
}

.detail--specs-container h6 {
  opacity: 0.3;
}

.detail--metascore {
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 7px;
}

.detail--game-series a:hover {
  color: #737373;
}
